@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Fira+Code:wght@400;600&family=Roboto:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282C33;
  color: #fff;
  font-family: 'Fira Code', monospace;
}

:root {
  /* color */
  --colorPrimary : #C778DD;
  --colorSecondary: #FFFFFF;

  /* background */
  --backgroundPrimary: #282C33;
}

.ant-drawer-body {
  background-color: var(--backgroundPrimary);
  color: #fff;
}